@import "style/bootstrap_scss/bootstrap-grid.scss";

@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:300,400,700&display=swap');

$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Aleo', serif;
$text-color: rgb(255, 255, 255);

*{
    color: $text-color;
}

header {
    background-image: url("img/header_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.header {

    &__title {

        font-size: 48px;
        font-family: $primary-font;
        color: $text-color;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-top: 263px;
        margin-bottom: 0;
        letter-spacing: 2px;

    }

    &__subtitle {
        font-size: 22px;
        font-family: $primary-font;
        font-weight: 300;
        color: $text-color;
        text-align: center;
        margin-top: 0;
        margin-bottom: 47px;
        letter-spacing: 5.7px;
    }

    &-search {
        background-color: white;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 650px;
        height: 60px;
        max-width: 95%;


        &__input {
            flex-grow: 1;
            border: none;
            text-align: center;
            color: rgb(153, 153, 153);
            line-height: 1.857;
            font-size: 14px;
            vertical-align: middle;
        }

        &-button {
            box-sizing: border-box;
            height: 100%;
            width: 146px;
            background-color: rgb(84, 116, 253);
            border: solid 2px white;
            vertical-align: middle;

            display: flex;
            justify-content: space-around;
            align-items: center;


            &__text {
                font-size: 14px;
                font-family: $primary-font;
                text-transform: uppercase;
                line-height: 1.857;
            }
        }
    }


    &-scroll {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin-top: 120px;
        margin-bottom: 133px;
        
        &__text {
            margin-bottom: 12px;
            font-size: 14px;
            font-family: $primary-font;
            letter-spacing: 2px;
        }

    }
}

nav {
    background-color: rgb(84, 116, 253);
    height: 80px;
    display: flex;
    align-items: center;
}
.nav {

    &__title {
        font-size: 24px;
        font-family: $primary-font;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &-menu {
        list-style: none;
        display: flex;
        padding: 0;

        &-toggle {
            display: none;

            &-icon {
                height: 48px;
                width: 48px;
            }
           
        }
        
        &-item {
            display: flex;
            align-items: center;
            margin-left: 41px;

            &__link {
                display: block;
                text-decoration: none;
                font-size: 14px;
                font-family: $secondary-font;
                text-transform: uppercase;
                line-height: 1.857;
            }
        }
    }

}

  
.paragraph {
    font-size: 16px;
    font-family: $primary-font;
    color: rgb(232, 232, 232);
    line-height: 1.625;
    letter-spacing: ;
    text-align: left;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(73,107,254);
    background: linear-gradient(46deg, rgba(73,107,254,1) 36%, rgba(84,116,253,1) 36%); 
    font-size: 16px;
    color: $text-color;
    font-family: $secondary-font;
    text-transform: uppercase;
    line-height: 1.625;
    text-decoration: none;
    width: 225px;
    max-width: 100%;
    height: 60px;
}

  
.choose {
    background-image: url("img/Why_choose_us_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px 0;


    &-article {

        &__title {
            font-size: 36px;
            font-family: $secondary-font;
            color: $text-color;
            letter-spacing: -1px;

            margin-top: 80px;
            margin-bottom: 50px;
        }


    }
}


.img {
    width: 100%;
}

















@media screen and (max-width: 768px) {

    .header {
        &-search {
            &-button {

                // Hide text in search button in small screens
                width: 56px;
                &__text {
                    display: none;
                }
            }
        }
    }
    nav {
        height: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }


    .nav {
    
        &-menu {

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            
            &-toggle {
                display: block;
            }

            
            &-item {
               margin: 0;
               
    
                &__link {
                    padding: 15px;
                }
            }
        }
    
    }

}
