@font-face{
    font-family: Aleo;
    src: url("style/fonts/Aleo-Regular.otf");
    font-weight: 400;
}

@font-face{
    font-family: Aleo;
    src: url("style/fonts/Aleo-Italic.otf");
    font-weight: 400;
}

@font-face{
    font-family: Aleo;
    src: url("style/fonts/Aleo-Light.otf");
    font-weight: 400;
}

@font-face{
    font-family: Aleo;
    src: url("style/fonts/Aleo-LightItalic.otf");
    font-weight: 400;
}

@font-face{
    font-family: Aleo;
    src: url("style/fonts/Aleo-Bold.otf");
    font-weight: 400;
}

@font-face{
    font-family: Aleo;
    src: url("style/fonts/Aleo-BoldItalic.otf");
    font-weight: 400;
}

